.App {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 800px;
  margin: 0px auto;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: 50px auto;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px 0 0 0;
  border: 2px solid black;
  transition: transform 0.5s ease;
}

.profile:hover,
.profile:focus {
  transform: scale(1.1);
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 2px;

  background-color: #2a2a2a;
  padding: 2px;
  object-fit: contain;
}

.name {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  margin: 5px 0;
}

.tag,
.location {
  font-size: 1.2rem;
  margin: 2px 0;
  color: #808080;
}

.stats {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%;
  background-color: #d3d3d3;
  border-radius: 0 0 10px 10px;
  border-top: 2px solid #838383;
}

.stats li {
  flex: 1;
  text-align: center;
  padding: 10px 0;
  border-right: 2px solid #838383;
}

.stats li:last-child {
  border-right: none;
}

.stats li span:first-child {
  display: block;
  color: black;
  font-weight: normal;
  margin-bottom: 5px;
  font-size: 1.1rem;
}

.stats li span:last-child {
  display: block;
  font-weight: bold;
  color: black;
  font-size: 1.1rem;
}
