.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 80px;
  padding: 12px;
  border: 2px solid #000;
  border-radius: 10px;
  background-color: #f9f9f9;

  transition: transform 0.5s ease, box-shadow 200ms;
}

.card:hover,
.card:focus {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(255, 215, 0, 0.8); /* золотой */
}

.card img {
  width: 72px;
  height: 72px;
  object-fit: contain;
  border-radius: 0;

  margin-bottom: 4px;
}

.name {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

.online,
.offline {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.online {
  color: green;
}

.offline {
  color: red;
}

.name,
.online,
.offline {
  line-height: 1.5;
}
